@*
    ['I', 'J', 'L', 'O', 'S', 'T', 'Z'] Şekilleri temsil eden harfler
    
    grid içerisinde ki her cell 0 değeri ile başlamalı
    
    I = 1
    J = 2
    L = 3
    O = 4
    S = 5
    T = 6
    Z = 7
    
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    0 0 0 0 0 0 0 0 0 0
    1 0 0 0 0 0 0 0 0 1
    1 0 2 0 0 0 0 0 0 1
    1 0 2 4 4 4 4 4 4 1
    1 2 2 4 4 4 4 4 4 1
    
    index row + 1 de 0 dan başka sayı gelene kadar ise aşağıya kaydıralacak
    
    bir row da 0 yok ise tüm rowu 0 a eşitle; Temizlenen satır +1 temizlenen satır kadar da bir yukarı da row
    aşağıya inecek
*@

@page "/tetris"

<div id="tetris">
    @foreach (var cell in _cells)
    {
        <div class="cell">
            @(@cell.Id > 0 ? "1" : @cell.Id)
        </div>
    }
</div>


@code {

    // Array de olabilir lakin şuanlık daha rahat çalışmak adına eklenebilir yapıyorum
    private readonly List<Cell> _cells = new List<Cell>();

    public class Cell
    {
        // Set değerini daha sonra init yaparak yeniden oluşturarak ıd değiştirme yap
        public int Id { get; set;}
    }

    protected override void OnInitialized()
    {
        for (var row = 0; row < 20; row++)
        {
            for (var col = 0; col < 10; col++)
            {
                var index = row * 10 + col;
                _cells.Add(new Cell { Id = 0 });

                if (row == 2)
                {
                    _cells[index].Id = 3;
                }
            }
        }
    }

}